h1 {
	font-family: Raleway, Courier;
	border-bottom: 1px solid black;
	}

#foot {
	font-weight: bold;
	padding-top: 12px;
	border-top: 1px solid black;
	margin-top: 50px;
	}

a {
	color: blue;
	}	
	
a:link {
	color: blue;
	}

a:visited {
	color: #800000;
	text-decoration: underline;
	}

a:hover {
	text-decoration: underline;
	font-weight: 900;
	}

a:active {
	text-decoration: none;
	color: red;
	}		

#wrap {
	margin: auto;
	text-align: center;
	background-color: #fa8072;
}

