h1 {
	text-align: center;	
	}

h3 {
	font-weight: bold;
	text-align: center;
	}

a:link {
	color: blue;
	}

a:visited {
	color: #800000;  <!--maroon-->
	text-decoration: underline;
	}

a:hover {
	text-decoration: underline;
	font-weight: 900;
	color: #9370db; <!--mediumpurple-->
	}

a:active {
	text-decoration: none;
	color: red;
	}		
