td {
  	color: blue;
	font-family: Sans-Serif;
	font-size: 17px;
	font-style: italic;
	text-align: center;
	}
	
h3 {
	color: green;
	font-weight: bold;
	text-align: center;
	}	

tr th {
	text-align: center;
	}
