td {
  	color: blue;
	font-family: Sans-Serif;
	font-size: 20px;
	font-style: italic;
	}
h3 {
	color: green;
	font-weight: bold;
	text-align: center;
	}	

tr:nth-child(odd) {
	background-color: lightpink;
	}

tr:nth-child(even) {
	background-color: lightblue;
	}
